Supporting version 2 and the new negotiation

- https://quicwg.org/quic-v2/draft-ietf-quic-v2.html

- https://quicwg.org/version-negotiation/draft-ietf-quic-version-negotiation.html

This replaces Section 6 of RFC 9000.

## Scenario 1 (compatible nego)

Both endpoints support both v2 and the new nego.

- C: Initial: ver=1, version_information = 1, {2, 1}
- S: Initial: ver=2, version_information = 2, {2, 1}
- C: Handshake: ver=2

## Scenario 2 (testing)

Both endpoints support both v2 and the new nego.

- C: Initial: ver=greasing, version_information = greasing, {2, 1, greasing}
- S: Initial: ver=2, version_information = 2, {2, 1}
- C: Handshake: ver=2

## Scenario 2 (incompatible nego).

A server supports RFC9000 only.

- C: Initial: ver=1, version_information = 1, {2, 1}
- S: VN: ver=0, {1}
- C: Initial: ver=1


todo for compatible negotiation:

- [x] Client: send `version_information`
- [ ] Server: set version and initial key to v2 if the first Initial can be decrypted and v2 is found in `version_information`
  - [ ] TX is immediately
  - [ ] RX is when encryption level is set to Handshake
- [ ] Server: send `version_information`
- [ ] Client: set version and initial key to v2 if the version of the first Initial is v2
- [ ] Client: ignore VN if the original version is included VN
- [ ] If `version_information` is broken, send `TRANSPORT_PARAMETER_ERROR`
- [ ] Client: after VN: send `VERSION_NEGOTIATION_ERROR` if `version_information` is missing
- [ ] Client: validate `version_information`

- [ ] Client: check Chosen Version (https://github.com/quicwg/version-negotiation/issues/72, https://github.com/quicwg/version-negotiation/issues/73)
- [ ] Server: set `version_information` TP dynamically (https://github.com/quicwg/version-negotiation/issues/74)

Call for discussion:
- [ ] Client: if VN and `version_information` does not exist, it should be treated as `1, [1]`.
- [ ] 0RTT: use v1 even if v2 is negotiated.

Done.