RFC 9001 max_early_data_size vs. QUIC.scUse0RTT = False

If `scUse0RTT` is `False` the server sends TLS session tickets like:

<img width="874" height="345" alt="Image" src="https://github.com/user-attachments/assets/b962e68e-0d78-41c6-85ce-1c6032730036" />


This seems to be a violation of RFC 9001 § 4.6.1 (https://datatracker.ietf.org/doc/html/rfc9001#name-enabling-0-rtt) which states that.

```
Servers MUST NOT send the early_data extension with a max_early_data_size field set to any value other than 0xffffffff. 
A client MUST treat receipt of a NewSessionTicket that contains an early_data extension with any other value as a connection error of type PROTOCOL_VIOLATION.
```

So e.g. curl refuses to connect to a haskell quic server if scUse0RTT is not enabled (which is unfortunately the default).

This fix is not specific to QUIC.
I'm going to release a new version of `tls`.

As I said before, thank you very much for your work! 💪 